<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--
    注意configuration的参数加载顺序:
    plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
    properties?, settings?,
    typeAliases?, typeHandlers?,
    objectFactory?,objectWrapperFactory?,
    plugins?,
    environments?, databaseIdProvider?, mappers?
-->
<configuration>

    <properties resource="mysqlConfig.properties"></properties>

    <settings>
        <setting name="logImpl" value="LOG4J"></setting>
        <!-- 开启二级缓存,已调用第三方的，不须要再开启myBatis的缓存 -->
<!--        <setting name="cacheEnabled" value="true"/>-->
        <!-- Camel命名 -->
        <setting name="mapUnderscoreToCamelCase" value="True"/>
        <!-- 延迟加载 -->
        <setting name="lazyLoadingEnabled" value="True"/>
        <setting name="aggressiveLazyLoading" value="True"/>
    </settings>

    <!-- 类的别名 -->
    <typeAliases>
        <package name="com.example.druid.bean"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
<!--            <property name="dialect" value="mysql"/>-->
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="false"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>
    <!-- 环境切换:default为development开发环境 -->
    <environments default="development">
        <!-- 本地数据库链接 -->
        <environment id="development">
            <!--事务管理器 -->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <!-- server数据库链接 -->
        <environment id="server">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${server.driver}"/>
                <property name="url" value="${server.url}"/>
                <property name="username" value="${server.username}"/>
                <property name="password" value="${server.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- sql映射文件 EmployeeMapper.xml 单元测试时打开 -->
    <mappers>
        <mapper resource="mapper/EmployeeMapper.xml"></mapper>
    </mappers>

</configuration>