<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<form th:action="@{/register}" method="post">
    <div class="row">
        <div class="col-xs-2">文件名:</div>
        <div class="col-xs-5"><input type="text" value="" name="getfilename"></div>
    </div>
    <div class="row">
        <div class="col-xs-2">文件:</div>
        <div class="col-xs-3"><input type="file" placeholder="" name="filename"></div>
        <div class="col-xs-3"><input type="submit" value="上 传"></div>
        <iframe th:replace="fileFrame.html"></iframe>
    </div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-5"><input type="submit" value="注册Register"></div>
    </div>

</form>

</body>
</html>