<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<h3 th:text="${msg}"></h3>
<form th:action="@{/toLogin}" method="post">
    <div class="row">
        <div class="col-xs-2">用户名:</div>
        <div class="col-xs-5"><input type="text" placeholder="用户名" name="lastName"></div>
    </div>

    <div class="row">
        <div class="col-xs-2">密&nbsp;码:</div>
        <div class="col-xs-5"><input type="password" placeholder="密码" name="password"></div>
    </div>

    <div class="row">
        <div class="col-xs-2">验证码:</div>
        <div class="col-xs-5"><input maxlength="4" a type="text" name="verifyCode" placeholder="请输入验证码"><img id="verifyCode" src="/getVerifyCode" onclick="refreshCode()" style="width:150px;"></div>
    </div>
    <div class="row">
        <div class="col-xs-2">&nbsp;</div>
        <div class="col-xs-5"><input type="submit" value="登  录"></div>
    </div>
</form>
<script>
    function refreshCode() {
        document.getElementById("verifyCode").setAttribute("src","/getVerifyCode");
    }
</script>
</body>
</html>