<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.druid.mapper.EmployeeMapper">
    <!-- 开启mybatis缓存 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
    <!-- 使用缓存 useCache -->
    <select id="getEmpById" useCache="true" flushCache="false" resultType="com.example.druid.bean.Employee">
     SELECT id,lastName,password,email,departmentId,perms FROM employee where id = #{id}
  </select>

    <select id="getEmpByName" resultType="com.example.druid.bean.Employee">
        SELECT id,lastName,password,email,departmentId,perms FROM employee
        WHERE lastName = #{lastName}
    </select>

    <select id="getEmpByNameAndPassword" resultType="com.example.druid.bean.Employee">
        SELECT id,lastName,password,email,departmentId,perms FROM employee
        WHERE lastName = #{lastName} and password = #{password}
    </select>

    <insert id="insertEmp" parameterType="com.example.druid.bean.Employee" useGeneratedKeys="true" keyProperty="id">
        insert into employee (lastName,email,departmentId) values(#{lastName},#{email},#{departmentId})
    </insert>

    <select id="getEmps" useCache="true" resultType="com.example.druid.bean.Employee">
         SELECT id,lastName,email,departmentId,perms FROM employee
    </select>
</mapper>
