<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.druid.mapper.EmployeeMapper">
    <select id="getEmpById" resultType="com.example.druid.bean.Employee">
    select * from employee where id = #{id}
  </select>

    <select id="getEmpByName" resultType="Employee">
        SELECT id,lastName,password,email,departmentId,perms FROM employee
        WHERE lastName = #{lastName}
    </select>

    <select id="getEmpByNameAndPassword" resultType="com.example.druid.bean.Employee">
        SELECT id,lastName,password,email,departmentId,perms FROM employee
        WHERE lastName = #{lastName} and password = #{password}
    </select>

    <insert id="insertEmp" parameterType="com.example.druid.bean.Employee" useGeneratedKeys="true" keyProperty="id">
        insert into employee (lastName,email,departmentId) values(#{lastName},#{email},#{departmentId})
    </insert>
</mapper>
