<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.druid.mapper.UserMapper">
    <select id="getUserById" resultType="com.example.druid.bean.User">
       select u.*,e.* from USER u inner join employee e on u.id = b.id
    </select>
</mapper>